* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #111;
    background-color: #fff;
    line-height: 0.5;
}

// navber

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2%;
    position: fixed;
    width: 100%;
    background: white;
    z-index: 1000;

    .logo {
        font-weight: 500;
        font-size: 0.8rem;
    }

    .navlinks {
        a {
            text-decoration: none;
            color: #333;
            margin: 0 0.2rem;
            font-weight: 300;
            font-size: 0.8rem;

            &:hover {
                color: rgb(201, 199, 199);
            }
        }
    }

    .btnoutline {
        border: 1px solid #000;
        padding: 0.6rem 1.4rem;
        border-radius: 25px;
        background-color: transparent;
        cursor: pointer;
        transition: all 0.3 ease;

        &:hover{
            background-color: #292828;
            color:#fff;
        }

    }




}