@font-face {
    font-family: myfont1;
    src: url(font/EldureDemo-Italic.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #111;
    background-color: #fff;
    line-height: 1.4;
}

/* ---------------- NAVBAR ---------------- */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2.5rem;
    width: 100%;
    background: white;


    .logo {
        font-weight: 550;
        font-size: 0.9rem;
        font-family: "Satoshi", sans-serif;
    }

    .navlinks {
        a {
            text-decoration: none;
            color: #000;
            margin: 0 0.5rem;
            font-size: 0.8rem;

            &:hover {
                color: #666;
            }
        }
    }

    .btnoutline {
        border: 1px solid #363535;
        font-size: 0.7rem;
        padding: 0.8rem 1.4rem;
        font-weight: 550;
        border-radius: 25px;
        background-color: transparent;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            background-color: #000;
            color: #fff;
        }
    }
}

/* ---------------- HERO SECTION ---------------- */

.hero {
    text-align: center;
    padding: 6rem 2rem;

    background: linear-gradient(170deg,
            transparent 60%,
            #ffffff 70%,
            #ffcf99 100%);

    .tagline {
        font-style: italic;
        font-size: 1.5rem;
        color: #000;
        margin-bottom: 1rem;
        font-family: myfont1;
    }

    h1 {
        font-size: 4rem;
        font-weight: 900;
        line-height: 4.5rem;
        margin-bottom: 1rem;
    }

    .subtext {
        max-width: 750px;
        margin: 0 auto 2rem;
        color: #929090;
        line-height: 1.5rem;
    }

    .btn-primary {
        border: 1px solid #000;
        padding: 1.5rem 3rem;
        border-radius: 40px;
        background: transparent;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            background-color: #000;
            color: #fff;
        }
    }
}

/* ---------------- HERO 2 (IMAGE LAYER) ---------------- */

.hero2 {
    position: absolute;
    width: 100%;
    overflow: hidden;
    z-index: 0;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(170deg,

                #ffffff 1%,
                #ffcf99 25%,
                #f15bb5 50%,
                #ff8fa2 60%,
                #ffffff 73%);
    }

    .hero-image {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        z-index: 0;

        img {
            transform: rotate(-8deg);
            padding-top: 5rem;
            width: 690px;
            // height: auto;
            border-radius: 20px;
            filter: drop-shadow(0 20px 30px rgba(23, 23, 23, 0.2));
        }
    }
}

.features {
    width: 100%;
    padding: 60rem 3% 3% 40rem;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 60rem;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1590px;
        background: linear-gradient(180deg,
                transparent 79%,
                #fffffff1 83%,
            );
        z-index: 1;
    }

    .feature-text {
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 5rem;
        max-width: 1400px;
        margin: auto;


        .leftSection {
            flex: 0 0 60%;
        }

        .rightSection {
            flex: 0 0 40%;
        }


        .leftSection {

            h2 {
                font-family: "Inter", sans-serif;
                ;
                padding-top: 25px;
                font-size: 5rem;
                font-weight: 800;
                line-height: 1.05;
                margin: 0;
            }

            h2 em {
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-style: italic;
                font-weight: 400;
            }
        }

        .rightSection {
            padding-top: 140px;
            max-width: 480px;


            h2 {
                font-size: 1.45rem;
                font-weight: 500;
                line-height: 1.6;
                padding-bottom: 15px;
            }

            p {
                color: #535353be;
                line-height: 1.5;
            }
        }
    }

    .feature-cards {
        margin-top: 100px;
        padding-bottom: 50px;
        font-family: sans-serif;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        .card {
            h4 {
                padding-bottom: 20px;
                font-size: 20px;
            }
        }
    }
}

.middle-gradient {
    width: 100%;
    height: 40vh;
    background:
        linear-gradient(180deg, #ffffff 20%, transparent 70%),
        linear-gradient(90deg, #ff00ff97 20%, #ff7b009f 80%);
}

.feature-image {
    padding-bottom: 200px;
    width: 100%;
    display: inline-block;
    position: relative;


    img {
        width: 100%;
        display: block;
    }

    .image-text {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        color: #fff;



        .right-text {
            flex: 0 0 60%;
        }

        .left-text {
            flex: 0 0 40%;
        }

        .right-text {
            p {
                font-size: 2rem;
                margin-bottom: 10px;
                opacity: 0.8;
                font-family: myfont1;


            }

            h1 {
                font-size: 4rem;
                font-weight: 700;
                line-height: 1.2;
                text-shadow: 0 4px 15px rgba(0, 0, 0, 0.121);
            }
        }

        .left-text {
            text-align: left;

            p {
                font-size: 0.9rem;
                margin-bottom: 20px;
                opacity: 0.9;
            }


            .btnoutline {
                color: #fff;
                margin-left: 15rem;
                border: 1px solid #ffffff;
                font-size: 0.9rem;
                padding: 1.5rem;
                font-weight: 550;
                border-radius: 2.5rem;
                background-color: transparent;
                cursor: pointer;
                transition: all 0.3s ease;

                &:hover {
                    background-color: #000000;
                    color: #fff;
                }
            }
        }
    }

}

.Trusted-section {
    // padding-bottom: 160px;

    .Trusted-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        padding: 0 20px;


        h1 {
            flex: 0 0 40%;
            font-size: 1.1rem;
            font-weight: 600;
        }

        p {
            padding-left: 100px;
            flex: 0 0 60%;
            font-size: 0.9rem;
            font-weight: 300;
            color: rgba(0, 0, 0, 0.696);
        }
    }

    .boxs-section {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.7rem;
        margin: 30px;
        padding: 0 10px;

        .box {
            display: flex;
            justify-content: center;
            align-items: center;
            background: #FBFCFC;
            // margin: 20px;
            height: 100px;
            color: #929090;
            border-radius: 15px;

            img {
                width: 150px;
                object-fit: contain;
            }
        }


    }
}


.feature-text2 {
margin-top: 200px;
    width: 100%;
    padding: 0 3% 3% 40rem;
    padding-left: 3%;
    padding-right: 3%;
    // padding-top: 60rem;

    .feature-text {
        // overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        // gap: 5rem;
        max-width: 1400px;
        margin: auto;


        .leftSection {
            flex: 0 0 65%;
        }

        .rightSection {
            flex: 0 0 35%;
        }


        .leftSection {
            p {

                font-size: 1.8rem;
                // margin-bottom: 8px;
                font-family: myfont1;


            }

            h2 {
                font-family: "Inter", sans-serif;
                padding-top: 25px;
                font-size: 3.5rem;
                font-weight: 600;
                line-height: 1.05;
                margin: 0;
            }
        }

        .rightSection {
            padding-top: 140px;
            // max-width: 480px;

            p {
                font-size: 0.9rem;
                color: #535353be;
                line-height: 2;
            }
        }
    }
}

.Feature-content1 {
    margin: 0 30px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 50px;

    .left-Content {
        flex: 0 0 64%;
        height: 65vh;
        background: linear-gradient(110deg, #FACF43, #F32166, #6A007D);
        border-radius: 30px;
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .box-text1{
            margin-left: 20px;
            margin-bottom: 40px;
        }
        h1 {
            font-size: 1.5rem;
            font-weight: 700;
            color: white;
        }

        p {
            font-size: 0.75rem;
            margin-top: 1px;
            width: 70%;
            color: white;
            opacity: 0.9;
            line-height: 2;
        }

        img {
            margin-bottom: -30px;
            rotate: 355deg;
            width: 400px;
            height: auto;
            overflow: hidden;
            /* crop area */

        }

    }

    .right-Content {
      
        // padding: 20px;
        flex: 0 0 30%;
        height: 65vh;
        background: #F7F7F7;
        border-radius: 30px;

       .box-text2{
        margin: 20px;
        // margin-top: 40px;
        // margin-bottom: 20px;
       }
        h1 {
            font-size: 1rem;
            font-weight: 700;
            color: rgb(0, 0, 0);
        }

        p {
            font-size: 0.75rem;
            margin-top: 1px;
            width: 70%;
            color: rgb(0, 0, 0);
            opacity: 0.9;
            line-height: 2;
        }

        .box-image2{
            padding: 20px ;
            // padding-left: 20px;
        }
        img {
           
           display: flex;
           justify-content: center;
           align-items: center;
            width: 300px;
            border-radius: 20px;
            border: 5px solid black;
        }
    }
}


.Feature-content2 {
   
    margin: 0 30px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 50px;

    .left-Content {
        flex: 0 0 64%;
        height: 65vh;
        background: linear-gradient(110deg, #FACF43, #F32166, #6A007D);
        border-radius: 30px;
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .box-text1{
            margin-left: 20px;
            margin-bottom: 40px;
        }
        h1 {
            font-size: 1.5rem;
            font-weight: 700;
            color: white;
        }

        p {
            font-size: 0.75rem;
            margin-top: 1px;
            width: 70%;
            color: white;
            opacity: 0.9;
            line-height: 2;
        }

        img {
            margin-bottom: -30px;
            rotate: 355deg;
            width: 400px;
            height: auto;
            overflow: hidden;
            /* crop area */

        }

    }

    .right-Content {
      
        // padding: 20px;
        flex: 0 0 30%;
        height: 65vh;
        background: #F7F7F7;
        border-radius: 30px;

       .box-text2{
        margin: 20px;
        // margin-top: 40px;
        // margin-bottom: 20px;
       }
        h1 {
            font-size: 1rem;
            font-weight: 700;
            color: rgb(0, 0, 0);
        }

        p {
            font-size: 0.75rem;
            margin-top: 1px;
            width: 70%;
            color: rgb(0, 0, 0);
            opacity: 0.9;
            line-height: 2;
        }

        .box-image2{
            padding: 20px ;
            // padding-left: 20px;
        }
        img {
           
           display: flex;
           justify-content: center;
           align-items: center;
            width: 300px;
            border-radius: 20px;
            border: 5px solid black;
        }
    }
}