@font-face {
  font-family: myfont1;
  src: url(font/EldureDemo-Italic.otf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #111;
  background-color: #fff;
  line-height: 1.4;
}

/* ---------------- NAVBAR ---------------- */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2.5rem;
  width: 100%;
  background: white;
}
.navbar .logo {
  font-weight: 550;
  font-size: 0.9rem;
  font-family: "Satoshi", sans-serif;
}
.navbar .navlinks a {
  text-decoration: none;
  color: #000;
  margin: 0 0.5rem;
  font-size: 0.8rem;
}
.navbar .navlinks a:hover {
  color: #666;
}
.navbar .btnoutline {
  border: 1px solid #363535;
  font-size: 0.7rem;
  padding: 0.8rem 1.4rem;
  font-weight: 550;
  border-radius: 25px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}
.navbar .btnoutline:hover {
  background-color: #000;
  color: #fff;
}

/* ---------------- HERO SECTION (text heading) ---------------- */
.hero {
  text-align: center;
  padding: 6rem 2rem;
  background: linear-gradient(170deg, transparent 60%, #ffffff 70%, #ffcf99 100%);
}
.hero .tagline {
  font-style: italic;
  font-size: 1.5rem;
  color: #000;
  margin-bottom: 1rem;
  font-family: myfont1;
}
.hero h1 {
  font-size: 4rem;
  font-weight: 900;
  line-height: 4.5rem;
  margin-bottom: 1rem;
}
.hero .subtext {
  max-width: 750px;
  margin: 0 auto 2rem;
  color: #929090;
  line-height: 1.5rem;
}
.hero .btn-primary {
  border: 1px solid #000;
  padding: 1.5rem 3rem;
  border-radius: 40px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}
.hero .btn-primary:hover {
  background-color: #000;
  color: #fff;
}

/* ---------------- HERO 2 (IMAGE LAYER) ---------------- */
.hero2 {
  position: absolute;
  width: 100%;
  overflow: hidden;
  z-index: 0;
}
.hero2::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(170deg, #ffffff 1%, #ffcf99 25%, #f15bb5 50%, #ff8fa2 60%, #ffffff 73%);
}
.hero2 .hero-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 0;
}
.hero2 .hero-image img {
  transform: rotate(-8deg);
  padding-top: 5rem;
  width: 690px;
  border-radius: 20px;
  filter: drop-shadow(0 20px 30px rgba(23, 23, 23, 0.2));
}

/* ---------------- features (features-text,features-cards,) ---------------- */
.features {
  width: 100%;
  padding: 60rem 3% 3% 40rem;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 60rem;
}
.features::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1590px;
  background: linear-gradient(180deg, transparent 79%, rgba(255, 255, 255, 0.9450980392) 83%);
  z-index: 1;
}
.features .feature-text {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5rem;
  max-width: 1400px;
  margin: auto;
}
.features .feature-text .leftSection {
  flex: 0 0 60%;
}
.features .feature-text .rightSection {
  flex: 0 0 40%;
}
.features .feature-text .leftSection h2 {
  font-family: "Inter", sans-serif;
  padding-top: 25px;
  font-size: 5rem;
  font-weight: 800;
  line-height: 1.05;
  margin: 0;
}
.features .feature-text .leftSection h2 em {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: 400;
}
.features .feature-text .rightSection {
  padding-top: 140px;
  max-width: 480px;
}
.features .feature-text .rightSection h2 {
  font-size: 1.45rem;
  font-weight: 500;
  line-height: 1.6;
  padding-bottom: 15px;
}
.features .feature-text .rightSection p {
  color: rgba(83, 83, 83, 0.7450980392);
  line-height: 1.5;
}
.features .feature-cards {
  margin-top: 100px;
  padding-bottom: 50px;
  font-family: sans-serif;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.features .feature-cards .card h4 {
  padding-bottom: 20px;
  font-size: 20px;
}

.middle-gradient {
  width: 100%;
  height: 40vh;
  background: linear-gradient(180deg, #ffffff 20%, transparent 70%), linear-gradient(90deg, rgba(255, 0, 255, 0.5921568627) 20%, rgba(255, 123, 0, 0.6235294118) 80%);
}

/* ---------------- features (features-image,features-uppertext,) ---------------- */
.feature-image {
  padding-bottom: 200px;
  width: 100%;
  display: inline-block;
  position: relative;
}
.feature-image img {
  width: 100%;
  display: block;
}
.feature-image .image-text {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: #fff;
}
.feature-image .image-text .right-text {
  flex: 0 0 60%;
}
.feature-image .image-text .left-text {
  flex: 0 0 40%;
}
.feature-image .image-text .right-text p {
  font-size: 2rem;
  margin-bottom: 10px;
  opacity: 0.8;
  font-family: myfont1;
}
.feature-image .image-text .right-text h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
  text-shadow: 0 4px 15px rgba(0, 0, 0, 0.121);
}
.feature-image .image-text .left-text {
  text-align: left;
}
.feature-image .image-text .left-text p {
  font-size: 0.9rem;
  margin-bottom: 20px;
  opacity: 0.9;
}
.feature-image .image-text .left-text .btnoutline {
  color: #fff;
  margin-left: 15rem;
  border: 1px solid #ffffff;
  font-size: 0.9rem;
  padding: 1.5rem;
  font-weight: 550;
  border-radius: 2.5rem;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}
.feature-image .image-text .left-text .btnoutline:hover {
  background-color: #000000;
  color: #fff;
}

/* ---------------- Trusted-section (text,image) ---------------- */
.Trusted-section .Trusted-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding: 0 20px;
}
.Trusted-section .Trusted-header h1 {
  flex: 0 0 40%;
  font-size: 1.1rem;
  font-weight: 600;
}
.Trusted-section .Trusted-header p {
  padding-left: 100px;
  flex: 0 0 60%;
  font-size: 0.9rem;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.696);
}
.Trusted-section .boxs-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.7rem;
  margin: 30px;
  padding: 0 10px;
}
.Trusted-section .boxs-section .box {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FBFCFC;
  height: 100px;
  color: #929090;
  border-radius: 15px;
}
.Trusted-section .boxs-section .box img {
  width: 150px;
  -o-object-fit: contain;
     object-fit: contain;
}

/* ---------------- feature-text2 (text,) ---------------- */
.feature-text2 {
  margin-top: 200px;
  width: 100%;
  padding: 0 3% 3% 3%;
  padding-left: 3%;
  padding-right: 3%;
}
.feature-text2 .feature-text {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: auto;
}
.feature-text2 .feature-text .leftSection {
  flex: 0 0 65%;
}
.feature-text2 .feature-text .rightSection {
  flex: 0 0 35%;
}
.feature-text2 .feature-text .leftSection p {
  font-size: 1.8rem;
  font-family: myfont1;
}
.feature-text2 .feature-text .leftSection h2 {
  font-family: "Inter", sans-serif;
  padding-top: 25px;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.05;
  margin: 0;
}
.feature-text2 .feature-text .rightSection {
  padding-top: 140px;
}
.feature-text2 .feature-text .rightSection p {
  font-size: 0.9rem;
  color: rgba(83, 83, 83, 0.7450980392);
  line-height: 2;
}

/* ---------------- feature-content-1 (text,image ) ---------------- */
.Feature-content1 {
  overflow: hidden;
  margin: 0 20px;
  display: flex;
  justify-content: space-around;
  width: 97%;
  margin-bottom: 50px;
}
.Feature-content1 .left-Content {
  flex: 0 0 65%;
  height: 65vh;
  background: linear-gradient(110deg, #FACF43, #F32166, #6A007D);
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.Feature-content1 .left-Content .box-text1 {
  margin-left: 20px;
  margin-bottom: 40px;
}
.Feature-content1 .left-Content h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
}
.Feature-content1 .left-Content p {
  font-size: 0.75rem;
  margin-top: 1px;
  width: 70%;
  color: white;
  opacity: 0.9;
  line-height: 2;
}
.Feature-content1 .left-Content img {
  margin-bottom: -30px;
  rotate: 355deg;
  width: 400px;
  height: auto;
  overflow: hidden;
}
.Feature-content1 .right-Content {
  flex: 0 0 30%;
  height: 65vh;
  background: #F7F7F7;
  border-radius: 30px;
}
.Feature-content1 .right-Content .box-text2 {
  margin: 20px;
}
.Feature-content1 .right-Content h1 {
  font-size: 1rem;
  font-weight: 700;
  color: rgb(0, 0, 0);
}
.Feature-content1 .right-Content p {
  font-size: 0.75rem;
  margin-top: 1px;
  width: 70%;
  color: rgb(0, 0, 0);
  opacity: 0.9;
  line-height: 2;
}
.Feature-content1 .right-Content .box-image2 {
  padding: 20px;
}
.Feature-content1 .right-Content img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  border-radius: 20px;
  border: 5px solid black;
}

/* ---------------- feature-content-2 (text,image ) ---------------- */
.Feature-content2 {
  overflow: hidden;
  margin: 0 20px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  width: 97%;
  margin-bottom: 50px;
}
.Feature-content2 .left-Content {
  flex: 0 0 62%;
  height: 65vh;
  background: linear-gradient(110deg, #6B007E, #D60070);
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.Feature-content2 .left-Content .box-text1 {
  margin-left: 20px;
  margin-bottom: 40px;
}
.Feature-content2 .left-Content h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
}
.Feature-content2 .left-Content p {
  font-size: 0.75rem;
  margin-top: 1px;
  width: 90%;
  color: white;
  opacity: 0.9;
  line-height: 2;
}
.Feature-content2 .left-Content img {
  margin-bottom: -30px;
  rotate: 355deg;
  width: 340px;
  height: auto;
  overflow: hidden;
}
.Feature-content2 .right-Content {
  flex: 0 0 30%;
  height: 65vh;
  background: #F7F7F7;
  border-radius: 30px;
}
.Feature-content2 .right-Content .box-text2 {
  margin: 20px;
}
.Feature-content2 .right-Content h1 {
  font-size: 1rem;
  font-weight: 700;
  color: rgb(0, 0, 0);
  line-height: 2;
}
.Feature-content2 .right-Content p {
  font-size: 0.75rem;
  margin-top: 1px;
  width: 80%;
  color: rgb(0, 0, 0);
  opacity: 0.9;
  line-height: 1.8;
}
.Feature-content2 .right-Content img {
  margin-top: 185px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  border-radius: 20px;
}/*# sourceMappingURL=style.css.map */