* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #111;
    background-color: #fff;
    line-height: 0.5;
}

// navber

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2%;
    position: fixed;
    width: 100%;
    background: white;
    z-index: 1000;

    .logo {
        font-weight: 500;
        font-size: 0.8rem;
    }

    .navlinks {
        a {
            text-decoration: none;
            color: #333;
            margin: 0 0.2rem;
            font-weight: 300;
            font-size: 0.8rem;

            &:hover {
                color: rgb(95, 94, 94);
            }
        }
    }

    .btnoutline {
        border: 1px solid #000;
        padding: 0.6rem 1.4rem;
        border-radius: 25px;
        background-color: transparent;
        cursor: pointer;
        transition: all 0.3 ease;

        &:hover {
            background-color: #000000;
            color: #ffffff;
        }
    }
}

//  hero section

.hero {
    text-align: center;
    padding: 10rem 2rem 5rem;

    .tagline {
        font-style: italic;
        color: #3e3d3d;
        margin-bottom: 1rem;
    }

    h1 {
        font-size: 3rem;
        font-weight: 700;
        line-height: 2.5rem;
        margin-bottom: 1rem;
    }

    .subtext {
        max-width: 600px;
        line-height: 1.5rem;
        margin: 0 auto 2rem;
        color: #555;
    }

    .btn-primary {
        border: 1px solid #000;
        padding: 0.6rem 1.4rem;
        border-radius: 25px;
        background-color: transparent;
        cursor: pointer;
        transition: all 0.3 ease;

        &:hover {
            background-color: #000000;
            color: #ffffff;
        }
    }

    .hero-image {
        margin-top: 3rem;

        img {
            width: 900px;
            border-radius: 20px;
            filter: drop-shadow(0 20px 30px rgba(23, 23, 23, 0.2));

        }
    }
}

.features {
   // padding: 8rem 10%;
    background: linear-gradient(to bottom, #fff 20%, #f8e3ff, #ffe4e1);

    .feature-text {
        text-align: left;
        max-width: 600px;
        margin-bottom: 3rem;

        h2 {
            font-size: 2rem;
            margin-bottom: 1rem;
            line-height: 1.8rem;

            em {
                font-family: "Playfair Display", serif;
                font-style: italic;
                color: #555;
            }

        }

        p {
            color: #555;
            line-height: 1.2rem;
        }
    }

    .feature-cards {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        margin-bottom: 5rem;

        .card {

            h4 {
                margin-bottom: 0.5rem;
                line-height: 1.3rem;
            }

            p {
                color: #666;
                line-height: 1.1rem;
                font-size: 10;
            }
        }

    }

    .feature-image {
        text-align: center;

        img {
            width: 100px;
            border-radius: 20px;
            object-fit: cover;

        }
    }
}