@font-face {
    font-family: myfont1;
    src: url(font/EldureDemo-Italic.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #111;
    background-color: #fff;
    line-height: 1.4;
}

/* ---------------- NAVBAR ---------------- */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2.5rem;
    width: 100%;
    background: white;
    // z-index: 0;

    .logo {
        font-weight: 550;
        font-size: 0.9rem;
        font-family: "Satoshi", sans-serif;
    }

    .navlinks {
        a {
            text-decoration: none;
            color: #000;
            margin: 0 0.5rem;
            font-size: 0.8rem;

            &:hover {
                color: #666;
            }
        }
    }

    .btnoutline {
        border: 1px solid #363535;
        font-size: 0.7rem;
        padding: 0.8rem 1.4rem;
        font-weight: 550;
        border-radius: 25px;
        background-color: transparent;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            background-color: #000;
            color: #fff;
        }
    }
}

/* ---------------- HERO SECTION ---------------- */

.hero {
    // overflow: hidden;
    text-align: center;
    padding: 6rem 2rem;

    background: linear-gradient(170deg,
            transparent 60%,
            #ffffff 70%,
            #ffcf99 100%);

    .tagline {
        font-style: italic;
        font-size: 1.5rem;
        color: #000;
        margin-bottom: 1rem;
        font-family: myfont1;
    }

    h1 {
        font-size: 4rem;
        font-weight: 900;
        line-height: 4.5rem;
        margin-bottom: 1rem;
    }

    .subtext {
        max-width: 750px;
        margin: 0 auto 2rem;
        color: #929090;
        line-height: 1.5rem;
    }

    .btn-primary {
        border: 1px solid #000;
        padding: 1.5rem 3rem;
        border-radius: 40px;
        background: transparent;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            background-color: #000;
            color: #fff;
        }
    }
}

/* ---------------- HERO 2 (IMAGE LAYER) ---------------- */

.hero2 {
    position: absolute;
    width: 100%;
    overflow: hidden;
    z-index: 0;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(170deg,
                #ffffff 1%,
                #ffcf99 25%,
                #f15bb5 50%,
                #ff8fa2 60%,
                #ffffff 100%);
    }

    .hero-image {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        // z-index: 0;

        img {
            transform: rotate(-8deg);
            padding-top: 5rem;
            width: 690px;
            // height: auto;
            border-radius: 20px;
            filter: drop-shadow(0 20px 30px rgba(23, 23, 23, 0.2));
        }
    }
}

.features {
    width: 100%;
    padding: 60rem 3% 3% 40rem;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 60rem;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1600px;
        // background: linear-gradient(170deg,
        //  #f15bb5 60%,
        //         #ffffff 40%,
            // );
        z-index: -1;

    }

    .feature-text {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 5rem;
        max-width: 1400px;
        margin: auto;


        .leftSection {
            flex: 0 0 55%;
        }

        .rightSection {
            flex: 0 0 45%;
        }


        .leftSection {

            h2 {
                font-family: "Inter", sans-serif;
                ;
                padding-top: 25px;
                font-size: 5rem;
                font-weight: 800;
                line-height: 1.05;
                margin: 0;
            }

            h2 em {
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-style: italic;
                font-weight: 400;
            }
        }

        .rightSection {
            padding-top: 140px;
            max-width: 480px;


            h2 {
                font-size: 1.45rem;
                font-weight: 500;
                line-height: 1.6;
                padding-bottom: 15px;
            }

            p {
                color: #535353be;
                line-height: 1.5;
            }
        }
    }
}