@font-face {
    font-family: myfont1;
    src: url(font/EldureDemo-Italic.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #111;
    background-color: #fff;
    line-height: 0.5;
}

// navber

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2.5rem;
    position: relative;
    width: 100%;
    background: white;
    z-index: 1000;

    .logo {
        font-weight: 550;
        font-size: 0.9rem;
        font-family: "Satoshi", "Satoshi Placeholder", sans-serif;


    }

    .navlinks {
        a {
            text-decoration: none;
            color: #000000;
            margin: 0 0.5rem;
            font-weight: 50;
            font-size: 0.8rem;

            &:hover {
                color: rgba(134, 132, 132, 0.831);
            }
        }
    }

    .btnoutline {
        border: 1px solid #363535;
        font-size: 0.7rem;
        padding: 0.8rem 1.4rem;
        font-weight: 550;
        border-radius: 25px;
        background-color: transparent;
        cursor: pointer;
        transition: all 0.3 ease;

        &:hover {
            background-color: #000000;
            color: #ffffff;
        }
    }
}

//  hero section

.hero {
    text-align: center;


    padding: 6rem 2rem 5rem;
    background: #fff;


    .tagline {
        font-style: italic;
        line-height: 2rem;
        font-size: 1.5rem;
        height: 1.5rem;
        color: #000000;
        margin-bottom: 1rem;
        font-family: myfont1;
    }

    h1 {
        font-size: 4rem;
        font-weight: 900;
        line-height: 5rem;
        margin-bottom: 1rem;

    }

    .subtext {
        max-width: 750px;
        line-height: 1.5rem;
        margin: 0 auto 2rem;
        color: #929090;
    }

    .btn-primary {
        border: 1px solid #000;
        padding: 1.5rem 3rem;
        border-radius: 40px;
        background-color: transparent;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            background-color: #000000;
            color: #ffffff;
        }
    }
}

.hero2 {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

     &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(150deg,
                    #ffcf99 0%,
                    #ff8fa2 10%,
                    #f15bb5 20%,
                    #ffffff 100%);
        }
        z-index: 0;


    .hero-image {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        z-index: 1;
    

       

        img {
            width: 700px;
            height: auto;
            border-radius: 20px;
            filter: drop-shadow(0 20px 30px rgba(23, 23, 23, 0.2));
        }
    }
}